*{
  margin: 0px;
  padding: 0px;
}


.widthsmall{
  width: 60%;
}

.shift-right {
  float: right;
  padding-bottom: 100px;
  
  
}
.input-group-text {
  
  display: inline-flex;
  justify-content: right; 
  align-items: flex-end; 
  padding: 0; 
}





